<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CONNECT Styleguide</title>
    <!-- css -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- /css -->
    <!-- styleguide assets -->
    <link href="<%- root %>styleguide_assets/css/sg.css" rel="stylesheet">
    <link href="<%- root %>styleguide_assets/css/highlight/prims.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <!-- /styleguide assets -->
  </head>
  <body class="drawer drawer--left drawer--sidebar">
    <div id="top" class="sg-wrapper">
      <svg class="sg-svgRoot" xmlns="http://www.w3.org/2000/svg">
        <symbol id="connectLogo" viewBox="0 0 177 32">
          <path fill-rule="evenodd" d="M.22 25.033c.964 4.66 4.057 6.943 9.036 6.943 3.7 0 7.573-1.735 9.616-5.253.12-.228.246-.502.275-.73.098-.777-.347-1.234-1.078-1.234-.458 0-.858.273-1.247.82-1.784 2.56-4.24 3.93-7.256 3.93-3.883 0-5.988-1.782-6.75-5.162-.254-1.234-.286-3.152.37-8.36.658-5.207 1.174-7.126 1.74-8.36 1.615-3.38 4.17-5.16 8.052-5.16 3.014 0 5.125 1.37 6.264 3.927.25.548.582.823 1.038.823.73 0 1.29-.457 1.39-1.234.028-.228-.03-.502-.09-.73C20.425 1.735 16.99 0 13.29 0 8.31 0 4.643 2.284 2.502 6.943c-.7 1.554-1.278 3.61-1.964 9.045-.686 5.436-.625 7.492-.32 9.045zm33.425 6.943c-5.07 0-8.236-2.42-9.167-6.99-.34-1.643-.453-3.653.22-8.998.676-5.344 1.295-7.354 2.05-9C28.832 2.422 32.608 0 37.68 0c5.025 0 8.19 2.42 9.122 6.99.34 1.644.453 3.654-.222 8.998-.674 5.345-1.293 7.355-2.05 9-2.082 4.567-5.86 6.988-10.885 6.988zM43.93 15.988c.635-5.025.523-7.035.268-8.268-.71-3.426-2.992-5.253-6.83-5.253-3.882 0-6.625 1.827-8.2 5.253-.566 1.233-1.185 3.243-1.82 8.268-.633 5.025-.52 7.035-.266 8.268.71 3.426 2.992 5.254 6.875 5.254 3.837 0 6.58-1.828 8.154-5.254.568-1.233 1.187-3.243 1.82-8.268zm5.635 14.298c-.115.914.37 1.416 1.1 1.416.777 0 1.39-.502 1.504-1.416L55.3 5.482h.18L67.2 30.286c.473.96.872 1.416 1.74 1.416 1.005 0 1.674-.593 1.806-1.644l3.58-28.368c.115-.913-.37-1.416-1.147-1.416-.776 0-1.342.503-1.457 1.416l-3.124 24.76h-.137L56.644 1.69C56.218.73 55.82.274 54.95.274c-1.05 0-1.673.594-1.806 1.645l-3.58 28.366zm27.93 0c-.115.914.37 1.416 1.1 1.416.777 0 1.39-.502 1.504-1.416l3.13-24.804h.18L95.13 30.286c.473.96.872 1.416 1.74 1.416 1.005 0 1.674-.593 1.806-1.644l3.58-28.368c.115-.913-.37-1.416-1.147-1.416-.776 0-1.342.503-1.457 1.416l-3.124 24.76h-.137L84.574 1.69C84.148.73 83.75.274 82.88.274c-1.05 0-1.673.594-1.806 1.645l-3.58 28.366zm28.5 0c-.097.777.348 1.234 1.124 1.234h16.262c.868 0 1.388-.503 1.48-1.234.092-.73-.3-1.233-1.17-1.233H109.03c-.183 0-.263-.09-.24-.274l1.452-11.513c.024-.182.126-.274.31-.274h12.516c.868 0 1.388-.502 1.48-1.233.092-.73-.3-1.234-1.17-1.234h-12.516c-.182 0-.262-.09-.24-.274l1.396-11.054c.023-.183.126-.274.308-.274h14.664c.868 0 1.388-.503 1.48-1.234.092-.73-.3-1.233-1.17-1.233h-16.26c-.778 0-1.338.457-1.436 1.233l-3.608 28.596zm24.323-5.253c.965 4.66 4.057 6.943 9.036 6.943 3.7 0 7.574-1.735 9.617-5.253.12-.228.247-.502.275-.73.098-.777-.346-1.234-1.077-1.234-.457 0-.857.273-1.246.82-1.785 2.56-4.242 3.93-7.256 3.93-3.883 0-5.988-1.782-6.75-5.162-.255-1.234-.287-3.152.37-8.36.657-5.207 1.173-7.126 1.74-8.36 1.614-3.38 4.17-5.16 8.052-5.16 3.014 0 5.126 1.37 6.265 3.927.25.548.58.823 1.038.823.732 0 1.292-.457 1.39-1.234.03-.228-.028-.502-.09-.73C150.523 1.735 147.09 0 143.39 0c-4.98 0-8.65 2.284-10.79 6.943-.698 1.554-1.278 3.61-1.963 9.045-.686 5.436-.626 7.492-.32 9.045zm31.736 6.67c.777 0 1.388-.503 1.503-1.417l3.418-27.088c.023-.183.126-.274.31-.274h8.22c.87 0 1.39-.503 1.482-1.234.092-.73-.3-1.233-1.17-1.233h-19.596c-.867 0-1.387.502-1.48 1.233-.092.73.302 1.234 1.17 1.234h8.222c.183 0 .263.09.24.274l-3.418 27.088c-.116.914.37 1.416 1.1 1.416z"/>
        </symbol>
      </svg>

      <header class="sg-header" role="banner">
        <button type="button" class="drawer-toggle drawer-hamburger">
          <span class="drawer-hamburger-icon"></span>
        </button>

        <div class="drawer-nav">
          <div class="drawer-menu">
            <%- include('header') %>
            <%- include('sidemenu') %>
          </div>
        </div>
      </header>

      <!-- content -->
      <main role="main" class="drawer-contents">
        <div class="sg-contents">
          <div class="sg-contents_body">
            <%- include('components') %>
          </div>
          <div class="sg-contents_footer"></div>
        </div>
      </main>

      <!-- script -->
      <script src="/assets/js/main.js"></script>
      <!-- /script -->
      <!-- styleguide script -->
      <script src="<%- root %>styleguide_assets/js/jquery-3.5.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.1/js/drawer.min.js"></script>
      <script src="<%- root %>styleguide_assets/js/init.js"></script>
      <!-- /styleguide script -->

    </div><!-- /.sg-wrapper -->

  </body>
</html>
